footer.p-5.pb-0.text-center.text-white
  section.d-flex.flex-wrap.mx-auto.footer-content
    section.col-6.social.d-flex.justify-content-start
      i.bi.bi-facebook
      i.bi.bi-instagram
      i.bi.bi-twitter
      i.bi.bi-linkedin
    section.col-6.text-left.d-flex.justify-content-end
      div.mt-2
        h3 PRENUMERERA PÅ VÅRT NYHETSBREV
        form.form-inline
          input#email(type="text", name="email" placeholder="Email@example.com").form-control.col-10
          input#submit-newsletter(type="submit", value="Ok").form-control.btn-outline-light.bg-transparent

script(src='/scripts/scripts.js')
