nav.navbar.navbar-expand-lg.navbar-dark
  section.header-content.d-flex.justify-content-between.mx-auto
    a.navbar-brand(href="/")
      i.bi.bi-book-half
      span.m-2 The Joined bookstore

    ul.navbar-nav.ml-auto
      li.nav-item
        a(href="/").nav-link Start
      li.nav-item
        a(href="/authors").nav-link Våra Författare
      li.nav-item
        a(href="/stores").nav-link Butiker
